.tags {
  width: 30rem;
  margin: 20px auto;
  background-color: #ebebeb;
  padding: 30px;
  border-radius: 2%;
  border-top: 5px solid #00c3ff;
}

.tags__form {
  display: flex;
  gap: 5px;
  justify-content: center;
}

input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.margin--top {
  margin-top: 20px;
}

.margin--bottom {
  margin-bottom: 20px;
}

.tags__button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.tags__button--add {
  background-color: #00c3ff;
}

.tags__button--add:hover {
  scale: 1.1;
}

.tags__button--delete {
  background-color: #ff0000;
}

.tags__button--delete:hover {
  scale: 1.1;
}

.tags__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.tag,
.tags__items> :nth-child(-n+6) {
  border-left: 5px solid #cccaca;
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
}


.tags__items> :nth-child(-n+2) {
  border-left: 5px solid #ffa500;
  font-weight: bold;
}

.tags__items> :nth-child(n+3):nth-child(-n+6) {
  border-left: 5px solid #00b7ff;
  font-weight: 600;
}
